@page
@model BookRepository.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1>About</h1>
    <h4 style="color: brown">Book Repository</h4>
    <img src="~/image/IconBook.png" class="rounded-circle" height="60" width="60" asp-append-version="true" />
    <img src="~/image/Abhi.png" class="rounded-circle" height="60" width="60" asp-append-version="true" />
    <br />
    <p><b>Abhishek Kumar</b></p>
    <p><span style="color:brown"><b>About this Site:</b></span><br />Sharing a book is really helpful to the needy person.<br />
    But don't know where to get it and whom to give it. <br />
    This site will help you and solve this problem.</p>
    <p><span style="color:brown"><b>How to use:</b></span><br />
    You can click on icons or toggle between tabs<br />
    To Find and Search books visit Shared book list</p>
    <p><span style="color:brown"><b>Development Tool:</b></span><br />
    Microsoft Visual Studio 2019<br />
    Microsoft ASP.NET Core MVC 3.1<br />
    SQL Server 2017</p>
</div>

