@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <div>
            <h2 class="display-4">Welcome</h2>
            <h3 class="display-4">Happy to see you !!</h3>
        </div><br />
        <h1 style="color:cadetblue">
            <b><i>"Book Repository"</i></b><br />
        </h1> 
        <br />
        <div>
            <img src="~/image/Abhi.png" class="rounded-circle" height="120" width="120" asp-append-version="true" />
            <br />
            <h6><b>Abhishek Kumar</b></h6>
            Know about me <a href="https://www.linkedin.com/in/abhishek-kumar-9901b317b">Click here</a><br />
        </div>
    </div>