@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <img src="~/image/Privacy.png" class="rounded-circle" height="150" width="150" asp-append-version="true" />
    <br />
    <br />
    <p>This is open to everyone.<br />Anybody can change the data<br />Don't misuse it.</p>
</div>

